.aboutme {
  flex-direction: column;
  margin: 50px 8px;
  padding: 20px 12px;
  width: 100%;
}
.aboutme_header {
  max-width: 700px;
  /* padding: 0 16px; */
  text-align: left;
}

.aboutme__descriptionn {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.75rem;
  margin: 16px 16px;
  max-width: 500px;
  padding: 24px 0;
}

.aboutme_wrapper {
  display: flex;
  color: var(--text-color);
  flex-direction: column;
  justify-content: left;
  height: 100%;
  max-width: 700px;
  padding-top: 20px;
  margin: 0;
  width: 90%;
}
.wrapper_skill {
  align-items: center;
  border: 0.75px solid var(--color-primary);
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 200;
  display: flex;
  height: 36px;
  padding: 32px 4px;
  margin-bottom: 15px;
  width: 100%;
}
.wrapper_title {
  min-width: 34%;
  padding-left: 8px;
}

.wrapper_percentage {
  align-content: center;
  border-radius: 20px;
  background-color: #61f3c2;
  color: black;
  height: 25px;
  margin-left: 18px;
  text-align: center;
}

.react_js {
  width: calc(60% / 1.5);
}

.java_script {
  width: calc(70% / 1.5);
}

.next_js {
  width: calc(65% / 1.5);
}

.tailwind_css {
  width: calc(80% / 1.5);
}
.ux_design {
  width: calc(85% / 1.5);
}

@media screen and (min-width: 376px) {
  .aboutme {
    margin: 50px 16px;
  }
}

@media screen and (min-width: 769px) {
  .aboutme_wrapper {
    margin: 8px;
  }
  .aboutme__descriptionn {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 16px;
    max-width: 700px;
    padding: 24px 32px;
  }

  .wrapper_skill {
    padding: 32px 24px;
    font-size: 1.2rem;
  }
  .wrapper_title {
    min-width: 22%;
  }
  .wrapper_percentage {
    height: 42px;
  }

  .react_js {
    width: 60%;
  }

  .java_script {
    width: 70%;
  }

  .next_js {
    width: 65%;
  }

  .tailwind_css {
    width: 80%;
  }
  .ux_design {
    width: 85%;
  }
}
