footer {
  width: 100%;
  max-width: 1390px;
  margin: 50px auto;
  padding: 20px 12px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer__titile {
  font-size: 1.3rem;
  color: var(--color-primary);
  margin-bottom: 0.75rem;
}
footer .hero__button {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.footer__nav a {
  font-size: 1.2rem;
  font-weight: 100;
}

.footer__rights {
  margin-top: 50px;
  font-size: 0.8rem;
  color: #9ca3a3;
}

@media (min-width: 376px) {
  footer {
    padding: 20px 16px;
  }
  .footer__nav {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .footer__titile {
    font-size: 1.6rem;
  }
  .footer__nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  footer .hero__button {
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .footer__titile {
    font-size: 1.9rem;
  }
  footer .hero__button {
    padding-bottom: 0;
  }
}
