.intro {
  display: flex;
  flex-direction: column;
  /* border: 0.5px solid var(--text-color); */
  margin: 50px 8px;
  padding: 20px 12px;
  /* border-radius: 20px; */
  width: 100%;
}
.intro_left {
  padding-right: 20px;
}
.intro__title {
  color: var(--color-primary);
  font-weight: 300;
  font-size: 2rem;
  max-width: 800px;
}
.intro__subtitle {
  color: var(--text-color);
  font-weight: 200;
  font-size: 1.4rem;
  max-width: 800px;
}
@media screen and (min-width: 376px) {
  .intro {
    margin: 50px 34px;
  }
}

@media screen and (min-width: 769px) {
  .intro {
    flex-direction: row;
    margin: 50px 34px;
    padding: 20px 34px;
  }
  .intro__title {
    font-size: 2.6rem;
  }
  .intro__subtitle {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .intro__title {
    font-size: 3rem;
  }
  .intro__subtitle {
    font-size: 2.2rem;
  }
}
