.intro {
  display: flex;
  flex-direction: column;
  margin: 50px 8px;
  padding: 20px 12px;
  width: 100%;
  gap: 2rem;
}

.intro__title {
  color: var(--color-primary);
  font-weight: 300;
  font-size: 2rem;
}
.intro__subtitle {
  color: var(--text-color);
  font-weight: 200;
  font-size: 1.4rem;
}
@media screen and (min-width: 376px) {
  .intro {
    margin: 50px 16px;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    flex-direction: row;
  }
  .intro__title {
    font-size: 2.6rem;
    max-width: 800px;
  }
  .intro__subtitle {
    font-size: 1.8rem;
    max-width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  .intro__title {
    font-size: 3rem;
  }
  .intro__subtitle {
    font-size: 2.2rem;
  }
}
