.portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 8px;
  padding: 20px 12px;
  width: 100%;
}

.portfolio__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: flex-start;
  padding: 3rem 0.5rem;
  width: 100%;
}
.wrapper__article {
  display: flex;
  flex: 1 1 332px;
  flex-direction: column;
  max-width: 350px;
}

.article_title {
  color: var(--color-primary);
}
.article_image {
  width: 100%;
}

.article_icons {
  padding: 12px 0;
}
.project_image {
  width: 100%;
}
@media screen and (min-width: 376px) {
  .portfolio {
    margin: 50px 16px;
  }
}

@media screen and (min-width: 769px) {
  .portfolio__wrapper {
    justify-content: center;
  }
}
