.what_i_do {
  display: flex;
  flex-direction: column;
  margin: 50px 8px;
  padding: 20px 12px;
  width: 100%;
}
.cards {
  display: flex;
  gap: 2rem;
  margin: 50px 0;
  flex-wrap: wrap;
}
.card {
  flex: 1 1 100%;
  padding: 20px 12px;
  border: 0.5px solid var(--text-color);
}
.card__title {
  font-size: 1.5rem;
  color: var(--color-primary);
  font-weight: 300;
}
@media screen and (min-width: 376px) {
  .what_i_do {
    margin: 50px 16px;
  }
}
@media (min-width: 768px) {
  .what_i_do {
    margin: 50px 16px;
  }
  .card {
    padding: 20px;
    flex: 1 1 calc(50% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    flex: 1 1 calc(25% - 2rem);
  }
}
